:root {
    --mainFontColor: hsl(123, 100%, 50%);
    --mainFontFamily: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  
  @keyframes fontColorShift {
    0% {
      color: hsl(123, 100%, 75%);
    }
    25% {
      color: hsl(360, 100%, 75%);
    }
    50% {
      color: hsl(123, 100%, 75%);
    }
    75% {
      color: hsl(0, 100%, 75%);
    }
    100% {
      color: hsl(123, 100%, 75%);
    }
  }

body {
    background-color: hsl(0, 0%, 20%);
    animation: fontColorShift 40s infinite;
    font-size: 20px;
    text-align: center;
    font-family: var(--mainFontFamiliy);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 14vh;
    padding-bottom: 3vh;
}

.blnScore {
    font-size: 25vh;
}

.footer {
    display: grid;
}

#warnings {
    color: rgb(255, 0, 0);
}
