:root {
    --mainFontColor: greenyellow;
    color: var(--mainFontColor);
}

body {
    background-color: rgb(92, 92, 92);
    font-size: 5vh;
    text-align: center;
}

.blnScore {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: bold;
    font-size: 25vh;
}

#warnings {
    color: rgb(255, 0, 0);
}
