:root {
    --mainFontColor: greenyellow;
    --mainFontFamiliy: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: var(--mainFontColor);
}

body {
    background-color: rgb(92, 92, 92);
    font-size: 20px;
    text-align: center;
    font-family: var(--mainFontFamiliy);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;;
    padding-top: 4vh;
    padding-bottom: 3vh;
}

.blnScore {
    font-size: 25vh;
}

.footer{
    display: grid;
}

#warnings {
    color: rgb(255, 0, 0);
}
