:root {
    --mainFontColor: greenyellow;
    --mainFontFamiliy: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--mainFontColor);
}

body {
    background-color: rgb(92, 92, 92);
    font-size: 20px;
    text-align: center;
    font-family: var(--mainFontFamiliy);
}

.blnScore {
    font: bold;
    font-size: 25vh;
}

.otherNumbers {
    display: flex;
    gap: 2vw;
    justify-content: center;

}

.buttons {
    display: flex;
    gap: 2vw;
    justify-self: start;
}

#warnings {
    color: rgb(255, 0, 0);
}